MB_SITE = 'http://test.musicbrainz.org'
MB_USERNAME = 'xxx'
MB_PASSWORD = 'xxx'

MB_DB = 'postgresql://musicbrainz@127.0.0.1:5432/musicbrainz'
BOT_SCHEMA_DB = 'mbbot'

WWW_USER_AGENT = None

TMP_DIR = '/tmp'

AWS_KEY = '...'
AWS_SECRET_KEY = '...'
AWS_ASSOCIATE_TAG = '...'

ROVI_API_KEY = '...'
ROVI_SHARED_SECRET = '...'

DISCOGS_OAUTH_CONSUMER_KEY = '...'
DISCOGS_OAUTH_CONSUMER_SECRET = '...'
DISCOGS_OAUTH_TOKEN_KEY = '...'
DISCOGS_OAUTH_TOKEN_SECRET = '...'
